#login .navbar {
    box-shadow: 0px 0px 15px #000;
}

#login .navbar-brand {
    padding: 2px 15px;
}

#login .navbar-brand img {
    width: 200px;
}

.img-slider {
    width: 150px;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: #ffffff;
    box-shadow: 0px 0px 10px #000;
    padding-right: 20px;
}